.bun{
    background-color: bisque;
}

.cheese{
    background-color: orange;
}

.tomato{
    background-color: red;
}

.lettuce{
    background-color: green;
}

.burger{
    background-color: brown;
}